@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
   
}
.header { background-color: #343a40;
margin: 0;
height: 75px;
color: #ffffff;
}

#menu li {
    padding: 0;
    display: inline-block;

}
.enlaces {
    margin-left: 5%;
    text-align: right;
}

a {color: #ffffff;
    text-decoration-line: none;
}
a:hover { color: violet; }

h1 {
    display: inline-block;
    margin-right: 500px;
}

ul {
    display: block;
    margin-bottom: 10px;
   
}
.main { background-color: #1abc9c;

   height: 350px;
 padding-top: 70px;
 padding-bottom: 30px;
 text-align: center;
 color: #ffffff;
   
}

img {
    height: 35%;
    width: auto;
  margin: 10px;
}

.portfolio {
    background-color: #ffffff;
    height: 600px;
    padding-bottom: 30px;
    padding-top: 100px;
color: #343a40;
display: block;
text-align: center;
text-decoration-line: underline ;

}

.titulo1 { margin-top: 10px;
    margin-bottom: 50px;

}

.about { height: 500px;
    padding-bottom: 05px;
    padding-top: 50px;
    background-color: #1abc9c ;
    color: #ffffff;
    display:block;
    text-align: center; 
    text-decoration-line: underline;
    
}

.prim { display: inline-block;
    text-align: left;
    text-decoration: none;
    background-color: #1abc9c ;
    color: #ffffff;
width: 200px;
margin-top: 15px;
margin-left: 15px;
padding-left: 10px;
padding-right: 10px;

}

